.check {
    &__container {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;
        cursor: pointer;
        font-size: 14px;
        line-height: 15px;
        user-select: none;
        color: $black;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked ~ .check__checkmark {
                background-color: $main-blue;
                border: 2px solid $main-blue;
            }

            &:checked ~ .check__checkmark:after {
                display: block;
            }
        }

        .check__checkmark {
            &::after {
                left: 4px;
                top: 0px;
                width: 6px;
                height: 12px;
                border: solid white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }

    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: $white;
        border: 2px solid $light-gray;

        &::after {
            content: "";
            position: absolute;
            display: none;
        }
    }
}